<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <link rel="stylesheet" type="text/css" href="/vendor/assets/stylesheets/flexboxgrid.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>'
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="col-md-3">sup</div>
<div class="col-md-3">sup</div>
<div class="col-md-3">sup</div>
<nav>
  <ul>
    <li><a href="" title="">home</a></li>
    <li><a href="" title="">contact</a></li>
    <li><a href="" title="">about</a></li>
  </ul>
</nav>

<%= yield %>

</body>
</html>
