<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <ul>
    <li><a href="" title="">home</a></li>
    <li><a href="" title="">contact</a></li>
    <li><a href="" title="">about</a></li>
  </ul>
</nav>

<%= yield %>

</body>
</html>
